$font-stack:    Helvetica, sans-serif;
$primary-color: #1acc4c;
$mode-padding: 30px;

#mode
    position: absolute
    top: $mode-padding - 10px
    left: $mode-padding
    width: 100%
    padding: 10px
    box-sizing: border-box
    text-align: left
    opacity: 50%